<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    
</head>
<body>
    
   
   
    <div class="dashboard-container">
      <button (click)="navigateToHome()">Log out and return to Home Page</button>

        <h2>Admin Dashboard</h2>
      
        <div class="section">
          <h3>Admins</h3>

          <div id="adminlist" style="overflow-y: scroll; height: 200px;">
             <div *ngFor="let admin of admins" >
              <p> {{ '('+ admin.id+ ') '+ admin.userName }}
              <button (click)="deleteAdmin(admin.id)">Delete</button>
              <button (click)="resetAdminPassword(admin.id)">Reset Password</button> </p>
              </div>
            </div>
          
        </div>
      
        <div class="section">
          <h3>Doctors</h3>

           <div id="doctorlist" style="overflow-y: scroll; height: 200px;">
            <div *ngFor="let doctor of doctors">
              <p>{{ '('+ doctor.doctorID + ') '+ 'Dr. ' + doctor.firstName + ' ' + doctor.lastName }}
              <button (click)="deleteDoctor(doctor.doctorID)">Delete</button>
              <button (click)="resetDoctorPassword(doctor.doctorID)">Reset Password</button> </p >
              </div>
            </div>
          
        </div>
      
        <div class="section">
          <h3>Patients</h3>

          <div id="patientlist" style="overflow-y: scroll; height: 200px;">
          
            <div *ngFor="let patient of patients">
              <p>{{ '('+ patient.id +  ') '+ patient.firstName + ' ' + patient.lastName }}
              <button (click)="deletePatient(patient.id)">Delete</button>
              <button (click)="resetPatientPassword(patient.id)">Reset Password</button> </p>
              </div>
            </div>
        </div>
      </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</html>



