<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    
</head>
<body>
    <div class="dashboard-container">
        <button (click)="logout()">Logout</button>
        <button (click)="modifyDetails()">Modify My Details</button>

        <div class="section">
          <h3>List of all Patients</h3>
          <ul>
            <li *ngFor="let patient of patients">
              {{ 'ID= '+ patient.id +  ' '+ patient.firstName + ' ' + patient.lastName }}
              <button (click)="viewPatient(patient.id)">Select</button>
              
            </li>
          </ul>
        </div>
      
      
        <div class="section">
          <h3>Blood Pressure Measurements</h3>

          //add scrolling list of blood pressure measurements with date and a button to delete each one
          <div id="bloodPressureMeasurementsList">
            <div *ngFor="let bloodPressureMeasurement of bloodPressureMeasurements">
              <p>{{bloodPressureMeasurement.date}} - Systolic: {{bloodPressureMeasurement.systolicPressure}}, Diastolic: {{bloodPressureMeasurement.diastolicPressure}}, Pulse: {{bloodPressureMeasurement.pulse}}  -  Comment: {{bloodPressureMeasurement.bloodPressureComment}}</p>
            </div>
          </div>
        
          <P> Average Blood Pressure for Month(S/D/P): {{averageBloodPressureForMonth.systolicPressure}}/ {{averageBloodPressureForMonth.diastolicPressure}}/{{averageBloodPressureForMonth.pulse}} </P>

          <div id="bloodPressureChart"></div>

         
        </div>
      
        <div class="section">
          <h3>Weight Measurements</h3>

          //add scrolling list of weight measurements with date and a button to delete each one
          <div id="weightMeasurementsList">
            
              <div *ngFor="let weightMeasurement of weightMeasurements">
               <p> {{weightMeasurement.date}}: {{weightMeasurement.weight}}kg  - Comment: {{weightMeasurement.weightComment}} id: {{weightMeasurement.weightID}}</p>
              </div>
            
          </div>


          <p>Average Weight for Month: {{averageWeightForMonth}}kg</p>
          <p>Average Weight for Year: {{averageWeightForYear}}kg</p>
          
          <div id="weightChart"></div>
          
        </div>
      
        <div class="section">
          <h3>Neuro Measurements</h3>
          //add scrolling list of neuro measurements with date and a button to delete each one
          <div id="neuroMeasurementsList">
            <div *ngFor="let neuroMeasurement of neuroMeasurements">
              <p>{{neuroMeasurement.date}} - Neuro Measurement: {{neuroMeasurement.neuroMeasurement}}  -  Comment: {{neuroMeasurement.neuroComment}} </p>
            </div>
          </div>
          
          <P> Average Neuro Measurement for Month: {{averageNeuroForMonth}}</P>
          <P> Average Neuro Measurement for Year: {{averageNeuroForYear}}</P>

          <div id="neuroChart"></div>
        
        </div>
      </div>
      
      <!-- Modify Details Modal -->
      <div *ngIf="showModifyDetailsModal" class="modal">
        <div class="modal-content">
          <span class="close" (click)="closeModifyDetailsModal()">&times;</span>
          <h2>Modify My Details</h2>
          <form (submit)="submitModifyDetails()">
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="date" id="dateOfBirth" [(ngModel)]="modifyDetailsForm.dateOfBirth" name="dateOfBirth" required>
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="modifyDetailsForm.password" name="password" required>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
      
       
     
      
    
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>



